.flex-container {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ee6730;
}

.guesser-container {
  width: 40%;
  height: 50%;
  background-color: rgb(119, 0, 255);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: floralwhite;
  margin: 10% 10%;
  font-size: x-large;
}

.score-container {
  display: flex;
  align-items: center;
  color: aliceblue;
  font-size: large;
  padding-top: 3vh;
  font-weight: bold;
}

.answer-list {
  font-size: large;
  color: floralwhite;
}

.game-title {
  color: floralwhite;
  font-size: xx-large;
}

.answer:hover {
  color: #ee6730;
  cursor: pointer;
  font-weight: bold;
}

.score-text {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
}

#scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 5px solid white;
  background-color: darkblue;
  margin-top: 30px;
}

.player-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  position: relative;
  width: 8em;
  height: 4em;
  margin-bottom: 0;
  background-color: #0c0c0c;
  border-radius: 3px;
}

.points-shadow {
  font-family: "Digital Display", monospace;
  font-size: 4em;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #1a1a1a;
}

.points {
  font-family: "Digital Display", monospace;
  font-size: 4em;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: rgb(255, 217, 0);
}
